<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <!-- Display an image based on the temperature -->
    <img src="../docs/assets/cold.png" *ngIf="weatherData.current.temp_c <= 30">
    <img src="../docs/assets/cold.png" *ngIf="weatherData.current.temp_c > 30">

    <div class="weather-data">
      <!-- Display location name -->
      <div class="location">{{ weatherData.location.name}}</div>

      <!-- Display temperature in Fahrenheit -->
      <div class="temperature">{{ weatherData?.current?.temp_f | number: '1.0-0'}}°F</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
     <i> Chennai Weather Stats</i>

      <!-- Minimum and Maximum temperature values are from the 'feelslike_c' and 'heatindex_c' fields in 'current' -->
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.ico" alt="Min Temp">
            <span>Min</span>
          </div>
          <div class="info-block-value">{{weatherData.current.feelslike_f}}°F <br> {{weatherData.current.feelslike_c}}°C </div>
        </div>
      </div>

      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.ico" alt="Max Temp">
            <span>Max</span>
          </div>
          <div class="info-block-value">{{ weatherData.current.heatindex_f}}°F <br> {{ weatherData.current.heatindex_c}}°C </div>
        </div>
      </div>

      <!-- Display humidity -->
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="Humidity">
            <span>Humidity</span>
          </div>
          <div class="info-block-value">{{ weatherData.current.humidity}}%</div>
        </div>
      </div>

      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" alt="Wind">
            <span>Wind</span>
          </div>
          <div class="info-block-value">{{ weatherData.current.wind_mph}} mph</div>
        </div>
      </div>
    </div>
  </div>
</div>
